.selectedPage {
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}
.nonSelected {
  color: #16ffdc;

  transition: all 0.3s ease 0s;
  margin-right: 10px;
}
.nonSelected:hover {
  color: #000000;
}

.pagination {
  cursor: pointer;
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.btn {
  padding: 10px;
  width: 50px;
  background-color: rgb(13, 125, 217);
  color: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(2, 91, 163);
}
