.img {
  width: 100px;
  border-radius: 50%;
}
.btn {
  background-color: #07cfa0;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  width: 100px;
}
.btn:hover {
  background-color: #17917c;
}
.usersItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  justify-items: center;
  text-align: center;
  align-items: center;
}
.userInfo {
  display: block;
  padding: 15px;
}
.follow {
  margin-bottom: 10px;
}
