.img {
  width: 100px;
  border-radius: 50%;
}
.imgSearch {
  width: 50px;
}
.searchButton {
  text-align: center;
}
.btn {
  background-color: rgb(13, 125, 217);
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  width: 100px;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(6, 97, 172);
}
.usersItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 5px;
  justify-items: center;
  text-align: center;
  align-items: center;
}
.userInfo {
  display: block;
  padding: 15px;
}
.follow {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .usersItems {
    grid-template-columns: repeat(2, 1fr);
  }
}
