.formControl.error input,
.formControl.error textarea {
  border: 2px solid red;
}
.formControl.error span {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: #f21e1e;
}
