.loginBlock {
  display: flex;
  justify-content: end;
  align-items: center;
}
.login {
  margin: 15px;
  padding: 10px;
}
.btn {
  background-color: rgb(14, 134, 231);
  padding: 10px;
  margin: 15px;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  width: 80px;
}
.btn:hover {
  background-color: #80aff1;
}

.userName {
  font-size: 18px;
  font-weight: 800;
}
