.active {
  color: rgb(54, 100, 129);
}
.item {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.item:hover {
  color: rgb(239, 151, 151);
}
.nav {
  grid-area: n;
  background-color: rgb(83, 163, 238);
}
