.active {
  color: rgb(57, 201, 187);
}
.item {
  color: #fff;
  transition: all 0.3s ease 0s;
}
.item:hover {
  color: rgb(239, 151, 151);
}
.nav {
  grid-area: n;
  background-color: rgb(35, 89, 139);
  height: 100vh;
  padding: 10px;
}
.navbar {
  margin-top: 20px;
}
