.profile_items {
  padding: 10px;
}
.image {
  width: 300px;
  border-radius: 5px;
  margin-left: 20px;
}
.img {
  width: 100%;
  border-radius: 5px;
}

.ava {
  width: 200px;
  border-radius: 5px;

  border-radius: 5px;
}

.status {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.userInfo {
  margin: 20px;
}
.imagesFlex {
  display: flex;

  align-items: center;
}
input[type="file"] {
  display: none;
}
.customFileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}
.customFileUpload:hover {
  opacity: 0.5;
}
.avaItems {
  text-align: center;
}
.chooseBtn {
}
.contacts {
  padding-left: 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}
label {
  margin-right: 5px;
}
.button {
  background-color: #026bc8;
  padding: 5px;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #044883;
}

.field {
  padding: 5px;

  border: 1px solid #03e2ff;
  margin-left: 5px;
  border-radius: 8px;
}
.fieldBlock {
  margin-bottom: 5px;
}
