.profileItems {
  display: flex;
}
.avatar {
  max-width: 300px;
}
.ava {
  width: 100%;
}

.status {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: rgb(13, 125, 217);
  cursor: pointer;
  padding: 7px;
}
.userInfo {
  margin: 20px;
}

input[type="file"] {
  display: none;
}
.customFileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}
.customFileUpload:hover {
  opacity: 0.5;
}
.avaItems {
  text-align: center;
}
.profileInfo {
  padding: 10px;
  border: 1px solid #03e2ff;
  border-radius: 10px;
  margin: 10px;
}
.contacts {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border: 1px solid #03e2ff;
  border-radius: 10px;
}
.contact {
  padding-left: 10px;
}
.profileInfoLabel {
  margin-right: 5px;
}

.formBlock {
  min-width: 100px;
}
.fieldBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.button {
  background-color: rgb(13, 125, 217);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 80px;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: rgb(12, 110, 191);
}

.field {
  padding: 5px;

  border: 1px solid #03e2ff;
  margin-left: 5px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .fieldBlock {
    display: block;
  }
  .profileItems {
    display: block;
  }
  .profileInfo {
    max-width: 300px;
  }

  .contacts {
    display: block;
  }
  .avaItems {
    text-align: start;
  }
  .status {
    max-width: 300px;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: rgb(13, 125, 217);
    cursor: pointer;
    padding: 7px;
  }
}
@media (max-width: 500px) {
  .fieldBlock {
    display: block;
  }
  .profileItems {
    display: block;
  }
  .profileInfo {
    max-width: 200px;
  }
  .status {
    display: inline-block;
  }
  .field {
    max-width: 100px;
  }
  .status {
    display: inline-block;
  }
}
