* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
a {
  color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ======================================================================= */

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  color: #fff;
}
.wrapper_content {
  background-color: rgb(1, 162, 255);
  grid-area: c;
}

.header {
  grid-area: h;
  background-color: rgb(10, 97, 168);
}
