.dialogs {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  color: #fff;
}

.messages {
  margin: 20px;
  padding: 10px;
}
.dialog {
  align-items: center;
  margin-right: 10px;
  display: flex;
  border: 1px solid white;
  padding: 10px;
}
.dialog img {
  width: 50px;
  border-radius: 50%;
}
.formMessage button {
  background-color: rgb(24, 224, 228);
  padding: 10px;
}
.title {
  font-weight: bold;
  font-size: 10px;
  padding: 15px;
  margin: 15px;
  background-color: #91bee6;
}
